<section class="revi-page-dark-background">
  <div class="container py-3">
    <h1>Cartographer</h1>

    <img
      src="assets/Stronka/gladiators.webp"
      class="card-img-top"
      alt="gladiators"
    />
    <h2 class="mt-3">Lore</h2>
    <p>
      A mysterious individual that illustrates the world’s wonders and creates
      detailed maps of the continent.
    </p>
    <p>
      Everyone heard the title “Wondrous Brush”, but no one actually saw this
      persona. Many speculate that this cannot be one person, because traveling
      and creating such wonders takes a lot of time.
    </p>
    <p>One is clear. There is no better cartographer in the world.</p>
    <p>
      “Who? Of course I know this title! Do you believe in everything those
      drunk bastards are talking about? There is no way one person good achieve
      such a greatness. ~ Innkeeper of the <em>Drunken Promise</em>
    </p>
    <button
      type="button"
      routerLink="/characters"
      class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
    >
      Go back to Characters
    </button>
  </div>
</section>
