<section class="revi-page-dark-background">
  <div class="container py-3">
    <h1>Cartographer</h1>

    <img
      src="assets/Stronka/gladiators.webp"
      class="card-img-top"
      alt="gladiators"
    />
    <h2 class="mt-3">Lore</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat culpa
      aliquam voluptatibus autem unde sequi officiis vel, nisi perspiciatis. Sed
      esse eos est, sunt magnam nam praesentium pariatur architecto dolores illo
      illum officiis, iure beatae iste dolore animi odio aperiam rem molestiae
      ipsum sint. Illum aliquam numquam itaque at temporibus.
    </p>
    <button
      type="button"
      routerLink="/characters"
      class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
    >
      Go back to Characters
    </button>
  </div>
</section>
