<section class="revi-page-dark-background">
  <div class="container py-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img
            src="assets/Stronka/landscape-castle.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h2 class="card-title">Fire Folk</h2>
            <div class="ms-3">
              <li>Political System – Theocracy</li>
              <li>Population – 300 millions</li>
              <li>Known for – Versatile food, religion, Immortal Bishop</li>
            </div>

            <button
              type="button"
              routerLink="/fire-folk"
              class="btn btn-revi btn-warning btn-lg px-4 me-md-2 mt-3"
            >
              Learn more
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="assets/Stronka/landscape-castle.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h2 class="card-title">Water Clan</h2>
            <div class="ms-3">
              <li>
                Political System – Local governments ruled by Council of Seven
              </li>
              <li>Population – 680 millions</li>
              <li>Known for – Martial arts, 7 Heavenly Virtues, Best Cousin</li>
            </div>

            <button
              type="button"
              routerLink="/water-clan"
              class="btn btn-revi btn-warning btn-lg px-4 me-md-2 mt-3"
            >
              Learn more
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="assets/Stronka/landscape-castle.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h2 class="card-title">Earth Nation</h2>
            <div class="ms-3">
              <li>Political System – Artocracy</li>
              <li>Population – 900 millions</li>
              <li>Known for – Versatile food, religion, Immortal Bishop</li>
            </div>

            <button
              type="button"
              routerLink="/earth-nation"
              class="btn btn-revi btn-warning btn-lg px-4 me-md-2 mt-3"
            >
              Learn more
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="assets/Stronka/landscape-castle.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h2 class="card-title">Air Kingdom</h2>
            <div class="ms-3">
              <li>Political System – Two Rulers Monarchy</li>
              <li>Population – 1.2 billion</li>
              <li>Known for – Slaves, Technology, Deserts, Army</li>
            </div>

            <button
              type="button"
              routerLink="/air-kingdom"
              class="btn btn-revi btn-warning btn-lg px-4 me-md-2 mt-3"
            >
              Learn more
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="assets/Stronka/landscape-castle.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h2 class="card-title">Light Pilgrims / Light Enclave</h2>
            <div class="ms-3">
              <li>Political System – Autocracy</li>
              <li>Population – ?</li>
              <li>Known for – Glass, Drugs, Wanderers, Religion Devotion</li>
            </div>

            <button
              type="button"
              routerLink="/light-pilgrims"
              class="btn btn-revi btn-warning btn-lg px-4 me-md-2 mt-3"
            >
              Learn more
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="assets/Stronka/landscape-castle.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h2 class="card-title">Dark Cult</h2>
            <div class="ms-3">
              <li>Political System – Anarchy</li>
              <li>Population – ?</li>
              <li>Known for – Necromancy, Crimes, 7 Deadly Sins</li>
            </div>

            <button
              type="button"
              routerLink="/dark-cult"
              class="btn btn-revi btn-warning btn-lg px-4 me-md-2 mt-3"
            >
              Learn more
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="assets/Stronka/landscape-castle.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h2 class="card-title">Gorantuland</h2>
            <div class="ms-3">
              <li>Political System – Democracy</li>
              <li>Population – 200k</li>
              <li>
                Known for – Universities, Scholars, Magical Forest, Unique
                Physique
              </li>
            </div>

            <button
              type="button"
              routerLink="/gorantuland"
              class="btn btn-revi btn-warning btn-lg px-4 me-md-2 mt-3"
            >
              Learn more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
