<section class="revi-page-dark-background">
  <div class="container py-5">
    <div class="main-timeline-2">
      <ng-container *ngFor="let item of visibleTimeline">
        <div class="timeline-2" [ngClass]="item.side + '-2'">
          <div class="card">
            <img
              *ngIf="item.type === 'image'"
              [src]="item.src"
              loading="lazy"
              class="card-img-top"
              alt="Roadmap image"
            />
            <video
              *ngIf="item.type === 'video'"
              [attr.data-src]="item.src"
              type="video/mp4"
              class="card-img-top lazy-video"
              preload="none"
              controls
              muted
              playsinline
            ></video>

            <audio
              *ngIf="item.type === 'audio'"
              [attr.data-src]="item.src"
              type="audio/webm"
              class="lazy-audio"
              preload="none"
              controls
            ></audio>

            <div class="card-body p-4">
              <p class="text-muted mb-4">
                <i class="far fa-clock"></i> {{ item.date }}
              </p>
              <p class="mb-0">{{ item.description }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
