<section style="background-color: #212c3b">
  <div class="container py-5">
    <div class="main-timeline-2">
      <div class="timeline-2 left-2">
        <div class="card">
          <img
            src="assets/Stronka/road-1.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">Working ALPHA of the game</h4>
            <p class="text-muted mb-4">
              <i class="far fa-clock" aria-hidden="true"></i> 2023
            </p>
            <p class="mb-0">
              Finished ALPHA of game with five playable characters. X skills.
              Animation and sound effects. Reviclades Website. Tons of lore.
              Dialogs of merceneries. Unique cards designs
            </p>
          </div>
        </div>
      </div>
      <div class="timeline-2 right-2">
        <div class="card">
          <img
            src="assets/Stronka/city-walls.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">Five playable base characters</h4>
            <p class="text-muted mb-4">
              <i class="far fa-clock" aria-hidden="true"></i> 2023
            </p>
            <p class="mb-0">
              New playable characters, new skills, account creation, leveling
              your avatar, collectibles, crafting, marketplace for players to
              trade
            </p>
          </div>
        </div>
      </div>
      <div class="timeline-2 left-2">
        <div class="card">
          <img
            src="assets/Stronka/road-2.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">Cosmetics</h4>
            <p class="text-muted mb-4">
              <i class="far fa-clock" aria-hidden="true"></i> 2023
            </p>
            <p class="mb-0">
              Items on map that can be add to inventery when picked up and game
              is won, wearable items (only cosmetic) So if skin is not activated
              you can wear some items.
            </p>
          </div>
        </div>
      </div>
      <div class="timeline-2 right-2">
        <div class="card">
          <img
            src="assets/Stronka/desert.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">Single player content</h4>
            <p class="text-muted mb-4">
              <i class="far fa-clock" aria-hidden="true"></i> 2023
            </p>
            <p class="mb-0">
              PVE, NPC on maps, neutral mobs, new characters and map
            </p>
          </div>
        </div>
      </div>
      <div class="timeline-2 left-2">
        <div class="card">
          <img
            src="assets/Stronka/caelia.png"
            class="card-img-top"
            alt="Responsive image"
          />
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">Finished Game</h4>
            <p class="text-muted mb-4">
              <i class="far fa-clock" aria-hidden="true"></i> 2023
            </p>
            <p class="mb-0">
              (Finish) Full version of game 1.0, nothing new but everything we
              already have is polished to perfection
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
