<section class="revi-page-dark-background">
  <div class="container py-3">
    <h1>Fire Berserker</h1>

    <img
      src="assets/Stronka/gladiators.webp"
      class="card-img-top"
      alt="gladiators"
    />
    <h2 class="mt-3">Lore</h2>
    <p>
      As an old fire warrior from the ancient time of elementals,
      <strong>Hector</strong> does not follow the new age religion of fire. Even
      though his memory is foggy, remembering teaching of his god, Hector
      wanders the fire wastelands alone, challenging any worthy opponent.
    </p>
    <p>
      With his pride of a true soldier, he never attacks creatures unwilling of
      fight. At times he helps travelers and merchants in trouble. Gloomy
      without a fight, showing that time took a toll on him, yet still glowing
      like a bright wildfire when battle begins.
    </p>

    <p>
      „<strong>Hector</strong> is an ancient fire elemental that still remembers
      true nature of the fire people. He wanders volcanic landscapes to find
      worthy opponents. His will to fight burns deeply inside him, just like
      volcano. Mostly calm, but deadly when the heat goes up.” ~
      <em> One of the farmers working on Fire Folk grounds. </em>
    </p>
    <button
      type="button"
      routerLink="/characters"
      class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
    >
      Go back to Characters
    </button>
  </div>
</section>
