<section class="revi-page-dark-background">
  <div class="container py-3">
    <h1>Gorantuland</h1>

    <img
      src="assets/Stronka/landscape-castle.webp"
      class="card-img-top"
      alt="landscape"
    />
    <h2 class="mt-3">Description</h2>
    <p>
      Proud nation of combatant scholars that lives in the forest as its
      guardians. In the past two divided races fought with each-other over the
      absolute control of the area. In the meantime, Dark Lord dispensed
      monstrosities across whole forest. Quickly war changed to battle for
      survival. Two races overwhelmed by foreign enemy, joined forces. Even
      though they worked together, nothing could stop the massacre of their
      people, so united races decided to gamble. By sacraficing 75% of their
      population in blood ritual, those two races became one. With the new
      mutated power they destroy all hostile creatures. That was the born of
      Gorantulan race. Now they stand as a strong keepers of the forest, with
      high intellect and superior physique Gorantulans became on of the seven
      forces in the world. School system so extraordinary that every youngling
      want to attend there. Gorantulans might look intimidating, but they
      respect every race as equal. Their core rule is to try and enhance
      potential in every creature. Gorantulans even started to teach leanguage
      to the non-intelligent beast known as Ferals and co-exist with them on
      daily basis.
    </p>
    <button
      type="button"
      routerLink="/factions"
      class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
    >
      Go back to Factions
    </button>
  </div>
</section>
