<div class="container p-4">
  <h1>About us</h1>
  <p>
    We as a the Reviclades’ developers represent international cooperation
    between friends. Each of us hold a special place in our hearts for the video
    games. Willing to create something we can be proud of, we planned to develop
    the Reviclades as long as it takes. With only a bunch of manpower, we
    created a prototype of a game that is ready to play, but to create the game
    we dreamed of, we need players help to achieve it.
  </p>
  <!-- <h2>Our Story</h2> -->
  <p>
    The Reviclades team consists of dedicated members experienced in
    programming, art and creative design. The idea for the game was born as a
    result of a player driven experience and a desire to undertake a challenge
    of creating something with pure passion. We are highly focused on every
    single player’s opinion to showcase a game that YOU want to play.
  </p>
  <p>
    We started working on the Reviclades in 2021, when simple conversation gave
    a spark to a dream. With dedicated team of few people from around the world,
    we want to create true player driven experience.
  </p>
  <h2>Team consist of:</h2>
  <h3>Jan (30)</h3>
  <p>
    Brings a wealth of experience to our team. With a gaming passion that
    ignited during his teenage years, Jan's love for computer games set the
    stage for his lifelong fascination with coding and IT. Remarkably, he
    started his coding journey at the tender age of 14, paving the way for a
    career filled with innovation and dedication.
  </p>
  <p>
    For Jan, creating a game from scratch is more than a project; it's a
    deep-seated passion. His unwavering enthusiasm and expertise make him an
    integral part of our team as we endeavor to build not just a game, but a
    thriving community—a game for the players.
  </p>
  <h3>Aleksander (26)</h3>
  <p>
    Is the main artist and designer of the team. His varied skillset in multiple
    disciplines of art has helped our team build an attractive and pleasant game
    experience. He is passionate about creating VFX and procedural systems, but
    has also worked on most of current game branding and logo, website, UI & UX
    design. He the co-creator of the Reviclades world, lore and character ideas,
    which fills his fantasy-loving heart with joy .
  </p>
  <h3>Vadim</h3>
  <p>
    As a kid he played lots of fantasy games, such as Heroes of Might and Magic
    and Wakfu which finally steered him into the world of IT. With a mechanical
    engineering background, Vadim channeled his creativity into developing the
    Reviclades game.
  </p>
  <h3>Michael (27)</h3>
  <p>
    Video game enthusiast and Creative Director. He is main person behind the
    lore, characters, dialog, sound effects and in-game abilities. He also
    searches for talented people that help create the Reviclades. With his wild
    imagination and heart for fantasy universes, he supports the team in
    achieving the dream of creating something special. Jack of all trades but
    master of nothing, that will try to fill up every present gap.
  </p>
  <p>
    With the least industry experience, he is learning many new skills that
    bring him closer to achieve his dreams of being a game developer. You only
    lose when you give up.
  </p>
  <h2>Contact us at reviclades@gmail.com!</h2>
  <span></span>
</div>
