<div class="container p-4">
  <h1>About us</h1>
  <p>
    The Reviclades team consists of dedicated members experienced in
    programming, art and creative design. The idea for the game was born simply
    as a result of a player driven experience and a desire to undertake a
    challenge of creating something with pure passion. We are highly focused on
    every single player’s opinions to showcase a game that YOU want to play.
  </p>
  <h2>Our Story</h2>
  <p>
    We have started as a small gaming idea which would allow players to
    participate in the creation a game with developers. Nowadays, everyone is
    aware that games are being created focusing on the profit while ignoring the
    gameplay, artstyle and players. We want to make a change. Each and every
    aspect you see inside the Reviclades was closely discussed with the
    community and internally with our team. We hope to deliver the game that YOU
    want to play.
  </p>
  <p>
    Every substantial project is initially born as a small idea. The Reviclades
    is a video game project where players help develop that small idea into
    something great. We put our outmost care to the community that is a crucial
    part of our strategy. Our goal is to make competetive arena games relevant
    and to spread fantastic wonders of the Reviclades’ world.
  </p>
  <p>
    The Reviclades is a competitive arena PVP strategic game set in the world
    destroyed and set anew by calamities. Here, the arena is a saint ground
    where people resolve matters between them. YOU as a leader of a small
    mercenary group will lead your party to the glorious future and many
    treasures.
  </p>
  <p>
    Remember the carefree days of gaming where games where created with utmost
    care with soul in them? These are the days we aim to bring back with the
    Reviclades. Dive into the wondrous world of mercenaries that change the
    course of history. You as a player create this game and contribute to the
    story that will come in the future.
  </p>
  <h5>„STATE OF THE VIDEO GAME INDUSTRY MADE US DO IT.”</h5>
</div>
