<section class="revi-page-dark-background">
  <div class="container py-3">
    <h1>Earth Nation</h1>

    <img
      src="assets/Stronka/landscape-castle.webp"
      class="card-img-top"
      alt="landscape"
    />
    <h2 class="mt-3">Description</h2>
    <p>
      Nations build on hard work and incredible minds. People here value
      creativity the most, and not only when it comes to art. Artists, Builders,
      Architects, Scientist - all of these professions are highly valued in this
      society. Each voter chooses the leader based on their inventions. It
      doesn’t matter how high is someone’s social status, what matters is the
      mind. Most of earth citizens live in cities inside the largest canyon on
      the continent, and because of that, those places are crowded with locals
      and citizens. With all these incredible minds and the biggest magical
      resources on the continent, Earth nation gave birth to many talented
      mages. Magic is important to the point that even technology is fuelled up
      by magic, every sculpture or other invention too. Majority of magic items
      are produced there, just like most of the metals and art pieces. With such
      a powerful domestic resources, these lands have been main trade hub for
      many years.
    </p>
    <p>
      Your mind is sharp. When it comes to magic you call yourself a natural.
      Always trying to find innovative ways to save problems. You never help if
      there is no reward. Discriminate mind, not the body.
    </p>
    <button
      type="button"
      routerLink="/factions"
      class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
    >
      Go back to Factions
    </button>
  </div>
</section>
