<section class="revi-page-dark-background">
  <div class="container py-3">
    <h1>Gorantulan Hunter</h1>

    <img
      src="assets/characters/gorantulan-hunter.avifs"
      class="card-img-top"
      alt="gladiators"
    />
    <h2 class="mt-3">Lore</h2>
    <p>
      As a young adult from the <strong>Bazula</strong> family of mighty
      hunters, Banzai was trained from an early stage of his live to guard
      <strong>Gorantulan’s home</strong>.
    </p>
    <p>
      With overwhelming pride and perfect genes, he represents what is best in
      <strong>Gorantulan </strong>species. Banzai tends to be overconfident, but
      specifically when the opponent seems weak. Without any magic, he relies
      only on his physique and mind, which often grant him victory. Because of
      that, Banzai is sure that everyone has a potential to become great like
      him.
    </p>
    <p>
      „I, <strong>Huntsman Banzai</strong>, promise to always defend Gorantuland
      land and its people from dangers. With might of all predecessors I will
      cherish this land. Since I am a hunter, my hunt will be over only after my
      death.” ~ <em>Part of Banazai’s Hunter Oath</em>
    </p>
    <button
      type="button"
      routerLink="/characters"
      class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
    >
      Go back to Characters
    </button>
  </div>
</section>
