<section class="revi-page-dark-background">
  <div class="container py-3">
    <h1>Gorantulan Hunter</h1>

    <img
      src="assets/Stronka/gladiators.webp"
      class="card-img-top"
      alt="gladiators"
    />
    <h2 class="mt-3">Lore</h2>
    <p>
      As a young adult from the Bazula family of mighty hunters, Banzai was
      trained from an early stage of his live to guard Gorantulan’s home. With
      overwhelming pride and perfect genes, he represents what is best in
      Gorantulan species. Banzai tends to be overconfident, but specifically
      when the opponent seems weak. Without any magic, he relies only on his
      physique and mind, which often grant him victory. Because of that, Banzai
      is sure that everyone has a potential to become great like him.
    </p>
    <button
      type="button"
      routerLink="/characters"
      class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
    >
      Go back to Characters
    </button>
  </div>
</section>
