<section class="revi-page-dark-background">
  <div class="container py-3">
    <h1>Water Clan</h1>

    <img
      src="assets/Stronka/landscape-castle.webp"
      class="card-img-top"
      alt="landscape"
    />
    <h2 class="mt-3">Description</h2>
    <p>
      It is a mix of multiple smaller tribes across whole ocean and lands of the
      clan as a whole. Even though there are many differences between each
      tribe, all water people see each other like a family. In a large community
      where peace is the most important, there is no need for army or other
      securities. Every citizen learns combat and magic by their group of
      parents from very early age, so that even Water Clan’s children can fend
      off invaders. Violence is only used to protect, never to harm. Due to the
      rich waters, clan is blessed with almost infinite supply of food and
      water. Ruled by council of seven heavenly virtues that are chosen by Water
      Goddess herself. Water people respect nature and are not fond of change or
      technical development. They see beauty in the simplicity.
    </p>
    <p>
      You are pacifist that values home and family the most. Eager to help other
      people. Nature and tradition speaks volume to you. There is only so much a
      person can do and no technology should change that limit.
    </p>
    <button
      type="button"
      routerLink="/factions"
      class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
    >
      Go back to Factions
    </button>
  </div>
</section>
