<div class="container">
  <h1>Shrimp Monk</h1>

  <img
    src="assets/Stronka/gladiators.webp"
    class="card-img-top"
    alt="gladiators"
  />
  <h2 class="mt-3">Lore</h2>
  <p>
    At first glance you can’t tell what kind of person Master Tempura is.
    Looking like a humble monk, he attracts many people willing to learn
    Tempura’s craft. True goal is different from just spreading knowledge.
    Money. Money is what matters for Master Tempura. Because his sensei was a
    humble martial art legend, Tempura wants to live a different life to escape
    his sensei’s shadow. Even after helping someone in distress, he expects a
    reward. He never stays in one place, scams people whenever he can, avoids
    fighting and resolves issues with money. That’s Master Tempura for you!
  </p>
  <button
    type="button"
    routerLink="/characters"
    class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
  >
    Go back to Characters
  </button>
</div>
