<nav
  class="revi-dark-background navbar navbar-expand-lg bg-body-tertiary revi-background sticky-top"
  id="tmNav"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="/assets/logo.svg" alt="Reviclades" width="150" height="34" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link revi-link"
            href=""
            routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link revi-link"
            href=""
            routerLink="/world-map"
            routerLinkActive="active"
            >World Map</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link revi-link"
            href=""
            routerLink="/characters"
            routerLinkActive="active"
            >Characters</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link revi-link"
            href=""
            routerLink="/factions"
            routerLinkActive="active"
            >Factions</a
          >
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link revi-link"
            href=""
            routerLink="/card-library"
            routerLinkActive="active"
            >Card Library</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link revi-link"
            href=""
            routerLink="/roadmap"
            routerLinkActive="active"
            >Roadmap</a
          >
        </li>

        <!-- <li class="nav-item">
          <a
            class="nav-link revi-link"
            href=""
            routerLink="/news"
            routerLinkActive="active"
            >News</a
          >
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link revi-link"
            href=""
            routerLink="/about"
            routerLinkActive="active"
            >About</a
          >
        </li>
      </ul>
      <!-- <button
        class="btn btn-outline-warning"
        type="submit"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Sign up
      </button> -->
    </div>
  </div>
</nav>

<!-- Sign up Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body p-5 pt-0">
        <form>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control rounded-3"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control rounded-3"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <button
            class="w-100 mb-2 btn btn-revi btn-lg rounded-3 btn-warning"
            type="submit"
          >
            Sign up
          </button>
          <small class="text-body-secondary"
            >By clicking Sign up, you agree to the terms of use.</small
          >
          <hr class="my-4" />
          <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
          <button
            class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3"
            type="submit"
          >
            <svg class="bi me-1" width="16" height="16">
              <use xlink:href="#twitter" />
            </svg>
            Sign up with Google
          </button>
          <button
            class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3"
            type="submit"
          >
            <svg class="bi me-1" width="16" height="16">
              <use xlink:href="#facebook" />
            </svg>
            Sign up with Facebook
          </button>
          <button
            class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3"
            type="submit"
          >
            <svg class="bi me-1" width="16" height="16">
              <use xlink:href="#github" />
            </svg>
            Sign up with Apple
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
