<div class="container">
  <h1>Air Kingdom</h1>

  <img
    src="assets/Stronka/landscape-castle.webp"
    class="card-img-top"
    alt="landscape"
  />
  <h2 class="mt-3">Description</h2>
  <p>
    Ruled by two mighty kings, Air Kingdom is largest nation in the world.
    Backed by aristocrats, Kings always represent two branches: Military and
    Science. Now majority of aristocrats families back military king, because of
    that military power is growing day by day. Placed on the desert,
    neighbouring to The Great Wastes, kingdom must tackle food and water supply
    issues. Import is crucial and without it it cannot supply any crucial
    resources. Specialized in technology development people of air found a way
    to live on the deserted land, cities build on clouds. Those cities were
    built by lowest cast, slaves. Slavery is common and somehow respected in the
    kingdom. There are four casts in total: Aristocrats, Commoners, Nomads,
    Slaves. Aristocrats lives in the biggest cities and are the lords of
    society, that treat slaves as disposable tools. Commoners can be found in
    every city in the kingdom. They tend to treat everyone fairly, often
    commoners are bridge between aristocrats and other casts. Nomads live
    underneath settlements on clouds, because they rarely are let inside cities.
    Known for their talent for receiving technology from the Old World, that
    aristocrats are found of, Nomads live hard life in the shadow of their
    rulers. Throughout Nomads societies there is deep believe in Air God, that
    aristocrats despite and try to ban religious believes. Last cast, the
    slaves, live mainly in big cities serving the true citizens. There are more
    slaves than other casts combined. Powerless against technology of rulers,
    they are serving obediently for ages without any major revolts. Slaves also
    pray to Air God with the hope to be freed from the suffering. Even though
    there are many different societies in kingdom, the army control all areas.
    With high taxes and biggest resources of artefacts Air Kingdom is called the
    riches nation.
  </p>
  <p>
    You are person that is loyal to your kingdom and believe that authorities
    can help you in need. Using other people for your means is common.
    Technology for you was always more convenient than magic. Money is power and
    with power you can accomplish anything.
  </p>
  <button
    type="button"
    routerLink="/factions"
    class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
  >
    Go back to Factions
  </button>
</div>
