<section class="revi-page-dark-background">
  <div class="container py-3">
    <h1>Fire Folk</h1>

    <img
      src="assets/Stronka/landscape-castle.webp"
      class="card-img-top"
      alt="landscape"
    />
    <h2 class="mt-3">Description</h2>
    <p>
      Conservative theocracy that value piousness like nothing else. With their
      strong belief in the Fire God Fornax they give most of valuables to holy
      church led by the Immortal Bishop. Known for their absence when it comes
      to violence, they cherish fire lands rich in fertile grounds. Farms can be
      seen on various places throughout the nation. People of this nation rarely
      leave their homes to see the world. Fire grounds connect with believers
      and protect them in the time of need. Although fire people are nice and
      helpful, they can get quite hostile while arguing about their beliefs.
    </p>
    <p>
      You are person with a strong belief to your God. While not aggressive, you
      will not ignore people in need. Fire has special place in your heart,
      somehow its more pure than most of people.
    </p>
    <button
      type="button"
      routerLink="/factions"
      class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
    >
      Go back to Factions
    </button>
  </div>
</section>
