<div class="container">
  <h1>Light Pilgrims / Light Enclave</h1>

  <img
    src="assets/Stronka/landscape-castle.webp"
    class="card-img-top"
    alt="landscape"
  />
  <h2 class="mt-3">Description</h2>
  <p>
    There is not a lot information about Light Pilgrims whereabouts. Merchants
    and travelers that met pilgrims in their city never remembers how to get
    there. Some say somewhere in the desert you can find them. Most famous for
    their glass making and drug production. Led by blind prophet, called Father
    of Light, they do not interfere in world matters. They strongly believe in
    the Sun Goddess that protects them from harm. High Pilgrims that met their
    Goddess are always blind, which is considered as biggest privilege. Pilgrims
    do not care about physical commodities like belongings or money. They love
    to travel and spread world of their Goddess. Wary of revealing any
    information about their culture.
  </p>
  <p>
    You are person that is loyal to your kingdom and believe that authorities
    can help you in need. Using other people for your means is common.
    Technology for you was always more convenient than magic. Money is power and
    with power you can accomplish anything.
  </p>

  <p>
    You don’t care about casual matters. For you experiencing mental ecstasy is
    something special. Strong connection with your community is important, but
    Goddess of light is even more crucial.
  </p>
  <button
    type="button"
    routerLink="/factions"
    class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
  >
    Go back to Factions
  </button>
</div>
