<section class="revi-page-dark-background">
  <div class="container py-3">
    <h1>Crypt Shambler</h1>

    <img
      src="assets/Stronka/gladiators.webp"
      class="card-img-top"
      alt="gladiators"
    />
    <h2 class="mt-3">Lore</h2>
    <p>
      In the era of humanity there was a man with unhinged nature. Killing was
      like another sports discipline to him. In any possible way, using
      equipment so strange that detectives were confused when seeing victim’s
      body.
    </p>
    <p>
      He got unlucky once and got captured. Because of his crimes he received a
      trial suited for such a monster.
    </p>
    <p>
      At the time technology was so advanced that human’s mind could be
      transported to physical discs and then even robots. His punishment was
      hard labor work, but not in his human form. Instead his mind was
      transported everyday to mining robot unit.
    </p>
    <p>
      During <strong>calamity</strong>, his body was destroyed and mind trapped
      in a robot forever. Before energy ran out, he crumbled to insanity. With
      nothing to kill, not even time, he went to deep slumber.
    </p>
    <p>
      After many years, a strange sensation woke him up. What he saw was many
      eerie creatures and people. He killed all of them and run as far as
      possible.
    </p>
    <p>
      “Here as you can see is one of the typical mining models from the old
      world’s <strong>Transmigation project</strong>. A drill to destroy stone
      matter under cities shattered by earthquake. Strong tail to hold stones
      and the ceiling of tunnels. Claws to cut metal cables and lines.
    </p>
    <p>
      Just imagine if this specimen was alive! This is really a miracle of the
      past people! Look at it and remember that even advanced technology can’t
      win over time.” ~
      <em>Tour Guide in Museum of Lost Memories inside Ape Nation</em>
    </p>
    <button
      type="button"
      routerLink="/characters"
      class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
    >
      Go back to Characters
    </button>
  </div>
</section>
