@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@1;200;500&display=swap');
/* styles.css */

:root {
  --revi-wheat-30: #FDE5C0;
  --revi-wheat-100: #F7A82D;
  --revi-wheat-130: #f5c77d;
  --revicla-blue-100: #19212c;
  --revicla-blue-90: #37414F;

  --revi-logo-6: #9AFFFF;
  --revi-logo-5: #476C7C;
  --revi-logo-4: #365E67;
  --revi-logo-3: #364B5C;
  --revi-logo-2: #233647;
  --revi-logo-1: #182633;

  --revi-text: #EBE6DC;
  --revi-hover: #ebc374;
  --revi-dark: #14191E;

  --revi-l-ground: #A76638;
  --revi-l-brown: #A65216;
  --revi-brown: #593115;
  --revi-light: #37D7E5;
  --revi-aqua-blue: #04666F;

  --discord: #5865F2;

  --overlay: #14191E;
}

* {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  color: var(--revi-text);
}

h1 {
  color: var(--revi-text)
}
body {
  background-color: var(--revi-dark);
}

.revi-dark-background {
  background-color: var(--revi-dark) !important
}

.revi-wheat-background {
  background-color: var(--revi-wheat-100)
}

.btn-revi:hover {
  background-color: var(--revi-wheat-100)
}

.revi-page-dark-background {
  background-color: var(--revicla-blue-100) !important;
}



.revi-link.active
 {
  color: var(--revi-wheat-100) !important;
}
.revi-link:hover,
.revi-link.active:hover {
  color: var(--revi-wheat-30) !important;
}

.hero{
  background: url('assets/stronka/arena-dark.webp') center/cover no-repeat;
  min-height: 100vh;
  display: flex;
} 

.hero-2{
  background: url('assets/stronka/revi-westfall.webp ') center/cover no-repeat;
  min-height: 100vh;
  display: flex;

}


.hero-3{
  background: url('assets/stronka/arena-light.webp ') center/cover no-repeat;
  min-height: 100vh;
  display: flex;

}

.hero-4{
  background: url('assets/stronka/dark-clouds.png ') center/cover no-repeat;
  min-height: 100vh;
  display: flex;

}



.transparency {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 50%;
}

.btn-discord:hover {
  background-color: #4752C4
}
.btn-discord {
  background-color: var(--discord);
  color: white;
}

.revo-text{
  color: var(--revi-text) !important
}

.text-center {
  line-height: 1.3;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

h4 {
  color:white;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.background-rough {
  position: relative;
  z-index: 1;
  border: 2px solid var(--revi-text) !important; /* Fallback border */
  border-radius: 2rem;
  overflow: hidden;
  color: var(--revi-text) !important;

}

.background-rough::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url('assets/stronka/background-rough.webp') center/cover no-repeat;
  background-color: rgba(20, 25, 30, 0.86);
  background-blend-mode: overlay;
  opacity: 0.22;
  border-radius: 2rem;
}

/* Content inside .background-rough */
.background-rough > * {
  position: relative;
  z-index: 2;
}


p, li{
  font-size: clamp(1rem, 1.25vw, 1.25rem)
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem)
}