<div class="container">
  <h1>Dark Cult</h1>

  <img
    src="assets/Stronka/landscape-castle.webp"
    class="card-img-top"
    alt="landscape"
  />
  <h2 class="mt-3">Description</h2>
  <p>
    Dangerous and clever people that often use cult as a means for their own
    goals. Consist of murderers, thieves, politicians and mostly of people that
    would do anything just to benefit themselves. When people dissapear, often
    it is because of Dark Cult influence. This organization use sacrifices to
    communicate and worship Dark Lord. Many say that you can’t find the cult, it
    finds you. There are military structures inside of the cult. Normal
    worshippers are able to do what they want without any responsibilities, but
    the higher-ups often are bound by many rules. Infamous 7 Deadly Sins
    represent the worst of whole cult, even called demi-gods by worshippers.
    Their identity is secret and only closest allies are let near them. Because
    of the all mysteries around them, some nations doesn’t officially believe in
    them. Cultists can be found in every society in the world, but identifying
    them can be difficult. It can be your neighbour, you brother or even your
    pet in disguise. Sometimes it is better to not know.
  </p>

  <p>
    Your goal, only that matters. If you need to kill someone, rob or abduct it
    doesn’t matter. You are truly free without any restrictions.
  </p>
  <button
    type="button"
    routerLink="/factions"
    class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
  >
    Go back to Factions
  </button>
</div>
