<div class="hero">
  <div class="px-4 py-5 mx-5 text-center">
    <h1 class="display-5 fw-bold revi-text">Join the Arena!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Bask in glory and become the greatest strategist inside the world of the
        Reviclades, isometric turn-based strategic arena game where sharp mind
        is stronger than a sharp sword. Join our alpha to become a part of the
        Reviclades!
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a
          href="https://discord.gg/5DmN79V9"
          target="_blank"
          type="button"
          class="btn btn-discord btn-lg px-4 gap-3 revi-text"
        >
          Join Discord
        </a>
      </div>
    </div>
  </div>
</div>
