<h1>Fire Berserker</h1>
<p>
  Hector is an ancient fire elemental that still remembers true nature of the
  fire folk. He wanders volcanic landscapes to find worthy opponents. His will
  to fight burns deeply inside him. Just like volcano. Mostly calm, but deadly
  when the heat goes up.” ~ One of the farmers working on Fire Folk grounds.
</p>
<p>
  As an old fire warrior from the ancient time of elementals, Hector do not
  follow new age religion of fire. Even though his memory is foggy, Hector
  remembering teaching of his god wanders fire wastelands alone challenging any
  worthy opponent. With his pride of true soldier, he never attacks creatures
  unwilling of fight. There are the times he helps travelers and merchants in
  trouble. Gloomy without a fight showing that time take toll on him, but glow
  like a bright wildfire when battle begins.
</p>
