<section class="revi-page-dark-background">
  <div class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img
            src="assets/Stronka/gladiators.webp"
            class="card-img-top"
            alt="gladiators"
          />
          <div class="card-body">
            <h2 class="card-title">Fire Berserker</h2>
            <p class="card-text">Forgotten Ruthless Warrior</p>
            <button
              type="button"
              routerLink="/fire-berserker"
              class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
            >
              Learn more
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="assets/Stronka/gladiators.webp"
            class="card-img-top"
            alt="gladiators"
          />
          <div class="card-body">
            <h2 class="card-title">Gorantulan Hunter</h2>
            <p class="card-text">Pure-hearted Hunter of the Gorantulans</p>
            <button
              type="button"
              routerLink="/gorantulan-hunter"
              class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
            >
              Learn more
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="assets/Stronka/gladiators.webp"
            class="card-img-top"
            alt="gladiators"
          />
          <div class="card-body">
            <h2 class="card-title">Shrimp Monk</h2>
            <p class="card-text">Greedy martial artist</p>
            <button
              type="button"
              routerLink="/shrimp-monk"
              class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
            >
              Learn more
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="assets/Stronka/gladiators.webp"
            class="card-img-top"
            alt="gladiators"
          />
          <div class="card-body">
            <h2 class="card-title">Bat Priest</h2>
            <p class="card-text">Cunning priestess of the Dark Lord</p>
            <button
              type="button"
              routerLink="/bat-priest"
              class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
            >
              Learn more
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="assets/Stronka/gladiators.webp"
            class="card-img-top"
            alt="gladiators"
          />
          <div class="card-body">
            <h2 class="card-title">Crypt Shambler</h2>
            <p class="card-text">Mechanical construct overtaken by madness</p>
            <button
              type="button"
              routerLink="/crypt-shambler"
              class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
            >
              Learn more
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="assets/Stronka/gladiators.webp"
            class="card-img-top"
            alt="gladiators"
          />
          <div class="card-body">
            <h2 class="card-title">Cartographer</h2>
            <p class="card-text">
              Bizarre artist that travel world and catch beuty of it on paper
            </p>
            <button
              type="button"
              routerLink="/cartographer"
              class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
            >
              Learn more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
