<div class="container">
  <h1>Bat Priest</h1>

  <img
    src="assets/Stronka/gladiators.webp"
    class="card-img-top"
    alt="gladiators"
  />
  <h2 class="mt-3">Lore</h2>
  <p>
    Bahrana is one of those rare cases when a Feral becomes intelligent to the
    point she can be called a genius. In the past, one individual saved her life
    out of pure accident and decided to teach her their ways of living. Magic,
    languages, etiquette, fighting, alchemy and many other things that helped
    Bahrana in the future. With these skills she started to worship vigorously
    the Dark Lord (Name). By deceiving people into joining the cult, promising
    immortality and chance to see again her dead relatives, she devours her
    victims. Each meal makes her stronger. Her appetite is infinite.
  </p>
  <button
    type="button"
    routerLink="/characters"
    class="btn btn-revi btn-warning btn-lg px-4 me-md-2"
  >
    Go back to Characters
  </button>
</div>
